[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.1.2"
gunicorn = "==20.1.0"
itsdangerous = "==2.0.1"
python-dotenv = "==0.14.0"
six = "==1.15.0"
Flask = "==2.0.1"
Flask-Cors = "==3.0.8"
Flask-SQLAlchemy = "==2.5.1"
Flask-WTF = "==0.15.1"
Jinja2 = "==3.0.1"
MarkupSafe = "==2.0.1"
SQLAlchemy = "==1.4.19"
Werkzeug = "==2.0.1"
WTForms = "==2.3.3"
Flask-Migrate = "==3.0.1"
Flask-Login = "==0.5.0"
alembic = "==1.6.5"
python-dateutil = "==2.8.1"
python-editor = "==1.0.4"
greenlet = "==1.1.0"
Mako = "==1.1.4"

[dev-packages]


[requires]
python_version = "3.9"
