/* TODO Add site wide styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

form {
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
}

@media (max-width: 575.98px) {
    form {
        width: 100%;
    }
}